<h1> Assignment 1 </h1>
<h2> MURLI PATEL </h2>

<h5> WAP to take 2 float values to add, subtract, multiply and divide them and print their fractional representation. </h5>

In [8]:
#WAP to take 2 float values to add, subtract, multiply and divide 
# them and print their fractional representation.

n1 = float(input("Enter the first value"))
n2 = float(input("Enter the second value"))

add = n1 + n2
sub = n1 - n2
mul = n1*n2

print(add)
print(sub)
print(mul)
if (n2==0):
    print("Division not possible")
else:
    div = n1/n2
    
    print(div)

18.0
6.0
72.0
2.0

<h5> WAP to take 5 float values as input and print the min and max of them all. </h5>

In [9]:
# WAP to take 5 float values as input and print the min and max of them all.

m1 = float(input("Enter the first value"))
m2 = float(input("Enter the second value"))
m3 = float(input("Enter the third value"))
m4 = float(input("Enter the fourth value"))
m5 = float(input("Enter the fifth value"))


max_value = max(m1,m2,m3,m4,m5)

print(max_value)

min_value = min(m1,m2,m3,m4,m5)

print(min_value)

66.0
0.0

<h5> WAP to print your name in uppercase, lowercase and titlecase. </h5>

In [10]:
# WAP to print your name in uppercase, lowercase and titlecase.

name = input("Enter your name")

print(name.upper())
print(name.lower())
print(name.title())

MURLI PATEL
murli patel
Murli Patel